
@model Spend_It.Models.LocationViewModels.PaymentTypeLocationData

@{
    ViewData["Title"] = "Locations";
}

<h2>All Locations</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name of Establishment</th>
            <th>Type of Establishment</th>
            <th>Street Address</th>
            <th>City</th>
            <th>Payment Types Accepted</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Locations)
        {
            string selectedRow = "";
            if (item.LocationId == (int?)ViewData["LocationId"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationType.LocationTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.CityName)
                </td>
                <td>
                    @{
                        foreach (var paymentType in item.PaymentTypeLocations)
                        {
                            @paymentType.PaymentType.PaymentTypeName @: -  @paymentType.PaymentType.PaymentTypeTicker <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
