
@model Spend_It.Models.LocationViewModels.SavedLocationIndexData

@{
    ViewData["Title"] = "SavedLocations";
}

<h2>Your Saved Locations</h2>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by City or Description: <input type="text" name="searchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th> <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Name of Establishment</a></th>
            <th>Type of Establishment</th>
            <th>Street Address</th>
            <th> <a asp-action="Index" asp-route-sortOrder="@ViewData["CitySortParm"]">City</a></th>
            <th>Payment Types Accepted</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SavedLocations)
        {
            string selectedRow = "";
            if (item.LocationId == (int?)ViewData["LocationId"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationType.LocationTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.StreetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.City.CityName)
                </td>
                <td>
                    @{
                        foreach (var paymentType in item.Location.PaymentTypeLocations)
                        {
                            @paymentType.PaymentType.PaymentTypeName @: -  @paymentType.PaymentType.PaymentTypeTicker <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.SavedLocationId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SavedLocationId">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
