@model Spend_It.Models.LocationViewModels.PaymentTypeLocationData

@{
    ViewData["Title"] = "MyLocations";
}

<h2>Created Locations</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by City or Description: <input type="text" name="searchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Date Created</a>
            </th>
            <th> <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Name of Establishment</a></th>
            <th>Type of Establishment</th>
            <th> <a asp-action="Index" asp-route-sortOrder="@ViewData["CitySortParm"]">City</a></th>
            <th>Payment Types Accepted</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Locations)
        {
            string selectedRow = "";
            if (item.LocationId == (int?)ViewData["LocationId"])
            {
                selectedRow = "success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationType.LocationTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                @{
                    foreach (var paymentType in item.PaymentTypeLocations)
                    {
                        @paymentType.PaymentType.PaymentTypeName @: - @paymentType.PaymentType.PaymentTypeTicker <br />
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
